<aside class="menu">
  <div class="image-container">
    <img class="logo" src="/images/transparent_logo.png" alt="">
  </div>
  <nav>
    <ul>
      <li>{{ link('Dashboard', '', 'home') }}</li>
      <li>{{ link('Playback', '', 'playback') }}</li>
      <li>{{ link('Config', '', 'config') }}</li>
      <li>{{ link('Logout', '', 'logout') }}</li>
    </ul>
  </nav>
</aside>