.row {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  justify-content: space-between;
  display: flex;
  max-width: map_get($breakpoints, large);
  &.extended {
    max-width: 100%;
    width: 100%;
  }
  margin: 0 auto;
  @extend .clear-fix;
  &.filled {
    justify-content: space-between;
    .column {
      width: auto;
    }
  }
  &.content-left {
    justify-content: flex-start;
  }
}

.column {
  flex: none;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
  display: flex;
  .column-content {
    margin: 5px;
    padding: 5px;
    flex: 1;
    width: calc(100% - 10px);
    &.no-padding {
      padding: 0;
      margin: 0;
    }
  }
}

@each $i in $breakpoint-classes {
  @each $t in $grid-sizes {
    .#{$i}-#{$t} {
      @include breakpoint($i) {
        @include grid-column($t);
      }
    }
  }
}