{% include 'partials/menu.twig' %}
<div class="row aside-offset">
  <div class="column large-12">
    <div class="column-content">
      <h1>Module config</h1>
    </div>
  </div>
  <div class="column large-12">
    <div class="column-content">
      <h2>Rooms</h2>
    </div>
  </div>
  <div class="column large-12">
    <div class="column-content">

    </div>
  </div>
</div>